{
  "env": {
    "browser": true,
    "es6": true,
  },
  "plugins": [
    "babel",
    "react"
  ],
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "arrow-parens": "off",
    "semi": ["error", "never"],
    "no-param-reassign": "off",
    "no-return-assign": "off",
    "no-restricted-syntax": "off",
    "class-methods-use-this": "off",
    "react/sort-comp": "off",
    "react/prop-types": "off",
    "react/require-default-props": "off",
    "react/jsx-indent": "off",
    "react/forbid-prop-types": "off",
    "react/no-unused-prop-types": "off",
    "react/jsx-filename-extension": "off",
    "import/no-extraneous-dependencies": "off",
    "babel/arrow-parens": ["error", "as-needed"],
  },
}

