{
  "env": {
    "browser": true,
    "es6": true,
  },
  "plugins": [
    "babel",
    "react"
  ],
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "max-len": ["error", 120],
    "semi": ["error", "never"],
    "arrow-parens": ["error", "as-needed"],
    "comma-dangle": [2, {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore"
    }],

    "function-paren-newline": "off",
    "no-param-reassign": "off",
    "no-return-assign": "off",
    "no-mixed-operators": "off",
    "no-restricted-syntax": "off",
    "class-methods-use-this": "off",
    "react/sort-comp": "off",
    "react/prop-types": "off",
    "react/require-default-props": "off",
    "react/jsx-indent": "off",
    "react/forbid-prop-types": "off",
    "react/no-unused-prop-types": "off",
    "react/jsx-filename-extension": "off",
    "import/no-extraneous-dependencies": "off",
  },
}

